<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ansel.payroll.dao.SalaryStatDao">
    <select id="getSalaryTotal" resultType="Float">
          SELECT SUM(salary) FROM py_payroll WHERE pay_date=#{payDate}

    </select>
</mapper>